/build
/cmake-build
/.cproject
/.project
/.settings
/compile
*.dll
*.exe
*.exp
*.ilk
*.lib
*.manifest
*.metagen
*.ncb
*.opensdf
*.pdb
*.suo
*.user
*.aps
env.h
version.h

*~

aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
depcomp
configure
install-sh
INSTALL
libtool
ltmain.sh
Makefile
Makefile.in
missing
config.h
config.h.in
config.h.in~
stamp-h1
